# The releng team is by default the owner of everything.
*             @eclipse-dataplane-signaling/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-dataplane-signaling/eclipsefdn-security
